// Fonts
$font-main: 'Libre Baskerville', serif;
$font-additional: 'Caveat', serif;

// Colors
$color-background: #71a7f3;
$color-base: #344055;
$color-btn-bg: #fff;
$color-btn-hover: #030a1a;
$color-btn-bg-hover: #9abed9;
$color-error: #ff4646;
$color-input-focus: #ddebf5;
$color-popup-bg: #50639091;
$color-all-right: #34f51a;
$color-btn-click: #bd1111;
$color-main-bg: #ffffffb3;
