// Fonts
$font-main: 'Libre Baskerville', serif;
$font-additional: 'Caveat', serif;

// Colors
$color-primary: #ff4646;
$color-dark: #181c29;
$color-static: #ffffff;
$color-dirty: #ecf3f8;

// Padding
$padding-main: 60px 82px;

//Transition
$transition: 0.5s ease-out;
