@use '../abstracts/variables' as *;

.btn {
  cursor: pointer;

  padding: 5px 16px;
  border: 2px solid $color-base;
  border-radius: 8px;

  color: $color-base;

  background-color: $color-btn-bg;

  transition: all 0.5s ease-in;

  &:hover {
    @media (hover: hover) {
      color: $color-btn-hover;
      background-color: $color-btn-bg-hover;
    }
  }

  &:active {
    color: $color-btn-click;
    background-color: $color-btn-bg-hover;
  }

  &.active {
    color: $color-btn-hover;
    background-color: $color-btn-bg-hover;
  }
}
