@use '../abstracts/variables' as *;

.user-dialogue__form {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 0;
}
.user-dialogue__form-input {
  width: 100%;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 8px;
  color: #344055;
  border: 2px solid $color-background;
  &:focus {
    background-color: $color-btn-bg-hover;
    outline: 1px solid $color-background;
  }
}
.user-dialogue__form-button {
  width: 70px;
  height: 35px;
  padding: 2px;
  background: url(./send_icon.svg) center center / contain no-repeat;
  border-radius: 8px;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid $color-background;
  }
}
