@use '../abstracts/variables' as *;

.header {
  width: 100%;
  padding: 5px 0;
  background-color: $color-background;
}

.logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-container-img {
  width: 45px;
  height: 45px;
  background: url('../logo.svg') center center / contain no-repeat;
}

.header-btns-container {
  display: flex;
  gap: 10px;
}

@media (width < 600px) {
  .logo-container {
    gap: 5px;
  }

  .logo-container-img {
    width: 40px;
  }
}

@media (width < 550px) {
  .logo-container-text {
    display: none;
  }
}
