@use '../abstracts/variables' as *;

.main-page-container {
  width: 100%;
}

.main-page-chat-container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.chat-container-users-list {
  width: calc(35% - 5px);
}

.chat-container-dialogue-container {
  display: flex;
  flex-direction: column;
  width: calc(65% - 5px);
}

.chat-container-users-list,
.chat-container-dialogue-container {
  height: calc(100dvh - 140px);
  padding: 8px;
  border: 2px solid $color-background;
  border-radius: 12px;

  background-color: $color-btn-bg;
  box-shadow: 0 0 10px 2px $color-background;
}

.users-list-search-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 8px;
  border: 2px solid $color-background;
  border-radius: 8px;

  font-size: 16px;
  color: $color-base;

  outline: none;

  &:focus {
    background-color: $color-btn-bg-hover;
  }
}

.user-list-users-container {
  scrollbar-color: $color-btn-bg-hover $color-btn-bg;
  scrollbar-width: thin;
  overflow: hidden auto;
  max-height: calc(100% - 55px);
}

.user-dialogue-user-info {
  display: flex;
  gap: 12px;
  justify-content: center;

  padding-bottom: 5px;
  border-bottom: 2px solid $color-background;
}

.user-dialogue-content-container {
  scrollbar-color: $color-btn-bg-hover $color-btn-bg;
  scrollbar-width: thin;

  overflow-y: auto;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: calc(100vh - 85px);
  padding: 8px 0 0;
  border-bottom: 2px solid $color-background;

  text-align: center;
}

.dialogue-filler {
  flex-grow: 1;
}

.dialogue-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dialogue-line-line {
  flex-grow: 1;
  height: 1px;
  margin: 0 10px;
  background-color: $color-btn-hover;
}

.dialogue-line-text {
  font-size: 12px;
  color: $color-btn-hover;
}

@media (width < 550px) {
  .users-list-search-input {
    font-size: 14px;
  }

  .user-name,
  .user-messages-info {
    font-size: 12px;
  }

  .user-indicator {
    width: 6px;
    height: 6px;
  }

  .user-info-user-name {
    font-size: 15px;
  }

  .user-info-state-connect {
    font-size: 14px;
  }

  .chat-container-users-list,
  .chat-container-dialogue-container {
    padding: 8px 2px;
  }
}
