@use '../abstracts/variables' as *;

.wrapper {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-wrapper,
.footer-wrapper {
  justify-content: space-between;
}

.main-wrapper {
  justify-content: center;
  min-height: calc(100vh - 140px);
}

@media (width < 600px) {
  .wrapper {
    padding: 0 7px;
  }
}
